Somador/src/conf/wsdl/localhost_8080/Calculadora/Calculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pacote1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pacote1/" name="Calculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://pacote1/" schemaLocation="http://localhost:8080/Calculadora/Calculadora?xsd=1"/>
</xsd:schema>
</types>
<message name="somar">
<part name="parameters" element="tns:somar"/>
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse"/>
</message>
<message name="multiplicacao">
<part name="parameters" element="tns:multiplicacao"/>
</message>
<message name="multiplicacaoResponse">
<part name="parameters" element="tns:multiplicacaoResponse"/>
</message>
<message name="subtracao">
<part name="parameters" element="tns:subtracao"/>
</message>
<message name="subtracaoResponse">
<part name="parameters" element="tns:subtracaoResponse"/>
</message>
<message name="divisao">
<part name="parameters" element="tns:divisao"/>
</message>
<message name="divisaoResponse">
<part name="parameters" element="tns:divisaoResponse"/>
</message>
<portType name="Calculadora">
<operation name="somar">
<input wsam:Action="http://pacote1/Calculadora/somarRequest" message="tns:somar"/>
<output wsam:Action="http://pacote1/Calculadora/somarResponse" message="tns:somarResponse"/>
</operation>
<operation name="multiplicacao">
<input wsam:Action="http://pacote1/Calculadora/multiplicacaoRequest" message="tns:multiplicacao"/>
<output wsam:Action="http://pacote1/Calculadora/multiplicacaoResponse" message="tns:multiplicacaoResponse"/>
</operation>
<operation name="subtracao">
<input wsam:Action="http://pacote1/Calculadora/subtracaoRequest" message="tns:subtracao"/>
<output wsam:Action="http://pacote1/Calculadora/subtracaoResponse" message="tns:subtracaoResponse"/>
</operation>
<operation name="divisao">
<input wsam:Action="http://pacote1/Calculadora/divisaoRequest" message="tns:divisao"/>
<output wsam:Action="http://pacote1/Calculadora/divisaoResponse" message="tns:divisaoResponse"/>
</operation>
</portType>
<binding name="CalculadoraPortBinding" type="tns:Calculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="somar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtracao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divisao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculadora">
<port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
<soap:address location="http://localhost:8080/Calculadora/Calculadora"/>
</port>
</service>
</definitions>