Correios/xml-resources/web-service-references/CalcPrecoPrazo/wsdl/ws.correios.com.br/calculador/CalcPrecoPrazo.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcPrecoPrazo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nCdEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDsSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nCdServico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCepOrigem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCepDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nVlPeso" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nCdFormato" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlComprimento" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlAltura" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlLargura" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlDiametro" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="sCdMaoPropria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlValorDeclarado" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="sCdAvisoRecebimento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcPrecoPrazoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcPrecoPrazoResult" type="tns:cResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cResultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Servicos" type="tns:ArrayOfCServico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCServico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cServico" type="tns:cServico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cServico">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrazoEntrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorMaoPropria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorAvisoRecebimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorValorDeclarado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntregaDomiciliar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntregaSabado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Erro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgErro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorSemAdicionais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="obsFim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataMaxEntrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraMaxEntrega" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalcPrecoPrazoData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nCdEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDsSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nCdServico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCepOrigem" type="s: